@using CSVReader.Entities;
@model List<Employee>

<h2>Upload File</h2>
@using (Html.BeginForm("Create", "Home", null, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group d-flex mb-4">
        <div class="w-50">
            <input class="form-control" type="file" accept=".csv" name="upload" required />
        </div>
        <div style="margin-left: 10px">
            <input type="submit" value="Import" class="btn btn-outline-primary" />
        </div>
    </div>
}

<div>
    @{
        if (Model != null)
        {
            //Search and Sort Area
            <div class="d-flex justify-content-between mb-4">
                <form class="w-50 d-flex" asp-action="search" asp-controller="home" method="get">
                    <div class="w-75">
                        <input class="form-control" name="search" type="text" placeholder="Search here ... " required>
                    </div>
                    <div style="margin-left: 10px">
                        <input type="submit" class="btn btn-outline-primary" value="Search" autocomplete="off">
                    </div>
                </form>
                <div>
                    <a type="button" class="btn btn-success" asp-area="" asp-action="sort" asp-controller="home">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
                        </svg>
                    </a>
                </div>
            </div>

            // Table of Contents
            <table class="table table-bordered table-hover" style="max-height: 350px; overflow-y: scroll; display: inline-block">
                <thead style="position: sticky; top: -2px; background-color: #dcdedc; text-align: center">
                    <tr>
                        <th style="font-size: 15px;" scope="col">#</th>
                        <th style="font-size: 15px;" scope="col">Payroll Number</th>
                        <th style="font-size: 15px;" scope="col">Forename</th>
                        <th style="font-size: 15px;" scope="col">Surname</th>
                        <th style="font-size: 15px;" scope="col">Date of Birth</th>
                        <th style="font-size: 15px;" scope="col">Telephone</th>
                        <th style="font-size: 15px;" scope="col">Mobile</th>
                        <th style="font-size: 15px;" scope="col">Address</th>
                        <th style="font-size: 15px;" scope="col">Address 2</th>
                        <th style="font-size: 15px;" scope="col">Postcode</th>
                        <th style="font-size: 15px;" scope="col">Email</th>
                        <th style="font-size: 15px;" scope="col">Start date</th>
                        <th style="font-size: 15px;" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var employee in Model)
                        {
                            <tr style="text-align: center; vertical-align: middle;">
                                <th style="font-size: 12px;" scope="row">@employee.Id</th>
                                <td style="font-size: 12px;">@employee.PayrollNumber</td>
                                <td style="font-size: 12px;">@employee.Forename</td>
                                <td style="font-size: 12px;">@employee.Surname</td>
                                <td style="font-size: 12px;">@employee.DateOfBirth</td>
                                <td style="font-size: 12px;">@employee.Telephone</td>
                                <td style="font-size: 12px;">@employee.Mobile</td>
                                <td style="font-size: 12px;">@employee.Address</td>
                                <td style="font-size: 12px;">@employee.Address2</td>
                                <td style="font-size: 12px;">@employee.Postcode</td>
                                <td style="font-size: 12px;">@employee.Email</td>
                                <td style="font-size: 12px;">@employee.StartDate</td>
                                <td>
                                    <a type="button" class="btn btn-info p-1" asp-area="" asp-action="update" asp-controller="home" asp-route-employeeId=@employee.Id>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#fff" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a>
                                    <a type="button" class="btn btn-danger p-1" asp-area="" asp-action="delete" asp-controller="home" asp-route-employeeId=@employee.Id>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#fff" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
</div>
